.footer {
    background-color: $light-secondary-color;
    color: $dark-text-color;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__nav {
      margin-bottom: 10px;
    }
  
    &__links {
      display: flex;
      gap: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__link {
      font-size: $font-size-regular;
      font-weight: bold;
      cursor: pointer;
  
      &:hover {
        color: $light-hover-color;
      }
    }
  
    &__social {
      display: flex;
      gap: 15px;
    }
  
    &__icon-link {
      text-decoration: none;
  
      &:hover .footer__icon {
        transform: scale(1.2);
        opacity: 0.8;
      }
    }
  
    &__icon {
      width: 30px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }
  
  /* Estilos de Modo Oscuro */
  body.dark-mode {
    .footer {
      background-color: $dark-secondary-color;
      color: $dark-text-color;
  
      &__link:hover {
        color: $dark-hover-color;
      }
    }
  }

  @media screen and (max-width: 510px) {
    .footer {
      &__links {
        flex-direction: column; 
        align-items: center;   
        gap: 10px;  
      }
  
      &__link {
        text-align: center;
        font-size: 1rem;
      }
    }
  }