
.auth-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9e4b7; /* Color amarillo suave */
    border: 2px solid #d99ea2; /* Borde rosado */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  .auth-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .auth-tab {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #f9e4b7;
    border: none;
    cursor: pointer;
  }
  
  .auth-tab.active {
    background-color: #d99ea2; /* Fondo rosado */
    color: white;
  }
  
  /* Formulario */
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .auth-form label {
    text-align: left;
    font-size: 14px;
  }
  
  .auth-form input {
    width: 86%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #e1e0ff;
    border-radius: 5px;
    background-color: #ffffff; /* Fondo morado claro */
    color: black;
  }
  
  .auth-form input:focus {
    border-color: #6c63ff; /* Morado más oscuro */
    outline: none;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: black;
  }
  
  .error-message {
    font-family: "Luckiest Guy";
    font-size: 12px;
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  
  .auth-button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f9c74f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #be9420;
    color: white;
  }
  
  .auth-footer {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .auth-footer a {
    color: #6c63ff;
    text-decoration: none;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    .auth-container {
      width: 90%;
    }
  }  
  .error-message {
    font-size: 12px;
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  