
$light-primary-color: #f9e4b7;
$light-secondary-color: #d99ea2;
$light-hover-color: #be9420;
$light-text-color: #000;
$light-bg-color: #ffffff;

$dark-primary-color: #2e3440;
$dark-secondary-color: #434c5e;
$dark-hover-color: #81a1c1;
$dark-text-color: #eceff4;
$dark-bg-color: #1e222a;
