@import './utilities/_variables.scss';
@import './utilities/_themes.scss';
@import './layout/_grid.scss';
@import './layout/_navigation.sass';

@import './components/_card.scss';
@import './components/_Footer.scss';
@import './components/_Navbar.scss';
@import './components/_Notification.scss';
@import './components/_PrivateNavbar.scss';

@import './pages/Auth.scss';
@import './pages/Coche.scss';
@import './pages/inicio.scss';
@import './pages/Contacto.scss';
@import './pages/error404.scss';
@import './pages/menu.scss';
@import './pages/UserSettings.scss';


// Tipografia 
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


:root {
    --primary-bg: #d99ea2;
    --secondary-bg: #f9c74f;
    --text-color: #000000;
    --hover-bg: #e3b637;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Luckiest Guy", cursive;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Esto asegura que la página ocupe al menos la altura completa de la ventana */
  }
  body{
    font-family: "Luckiest Guy", cursive;   
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  
  body.dark-mode {
    --primary-bg: #121212;
    --secondary-bg: #333333;
    --text-color: #ffffff;
    --hover-bg: #444444;

    font-family: "Luckiest Guy", cursive;   
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  
  /* Usa las variables en tu CSS */
  .navbar {
    background-color: var(--primary-bg);

  }
  
  .nav-link {
    color: var(--text-color);
  }
  
  .nav-button {
    background-color: var(--secondary-bg);
    color: var(--text-color);
  }
  
  .nav-button:hover {
    background-color: var(--hover-bg);

  }
  