/* Contenedor de la lista de coches */
.cars__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 elementos por fila */
  gap: 20px;
  padding: 20px;
}

/* Responsive: Dos elementos por fila en pantallas pequeñas */
@media (max-width: 768px) {
  .cars__list {
    grid-template-columns: repeat(2, 1fr); /* 2 elementos por fila */
  }
}

/* Responsive: Un solo elemento por fila en pantallas muy pequeñas */
@media (max-width: 480px) {
  .cars__list {
    grid-template-columns: 1fr; /* Un solo elemento por fila */
  }
}
.card{
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 450px; /* Aumenta el tamaño máximo de la tarjeta */
  margin: 10px; /* Separación entre tarjetas */
  min-width: 300px; /* Aumenta el tamaño mínimo de la tarjeta */
  box-sizing: border-box;
}

/* Paginación */
.menu__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.menu__pagination__button {
  background-color: $color-secondary;
  border: none;
  border-radius: 5px;
  color: $color-light;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.menu__pagination__button:hover {
  background-color: $color-secondary-hover;
}

.menu__pagination__button--active {
  background-color: $color-primary;
  font-weight: bold;
}
